*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blanc: #ffffff;
    --noir: #000000;

    --couleur-titre: #252d41;
    --couleur-texte: #3a4664;

    --couleur-accentuation-un: #ff4362;
    --couleur-accentuation-deux: #F4C0AF;

    --couleur-fond-clair: #fdf0e6;
    --couleur-fond-sombre: #474747;
}

body{
    width: 100%;
    height: 100vh;
    color: var(--couleur-texte);
    background-color: var(--couleur-fond-clair);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: var(--couleur-titre);
}

a{
    text-decoration: none;
    color: unset;
}


.star-trail {
    position: fixed;
    width: 20px;
    height: 20px;
    background: url('../images/ea71bb_6ddba9a5c2c641b28affaa9173df0b5f~mv2_d_1300_1286_s_2.png'); /* Remplacez 'star.png' par le chemin de votre image d'étoile */
    background-size: cover;
    pointer-events: none;
    transition: transform 0.1s ease-out;
}



footer{
    background-color: var(--couleur-titre);
    color: var(--blanc);
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a, p{
    font-size: 14px;
}

header{
    position: absolute;
    top: 0;
    background-color: var(--couleur-accentuation-deux);
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 970px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    display: flex;
}

nav .contact-link{
    color: var(--blanc);
    background-color: var(--couleur-fond-sombre);
    padding: 18px 33px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.contact-link:hover{
    background-color: var(--blanc);
    color: var(--couleur-accentuation-deux);
}

nav ul li{
    list-style: none;
    margin: 0 0 0 3.8542vw;
    color: var(--blanc);
    font-size: 16px;
}

.burger-menu {
    display: none;
    background-color: var(--couleur-accentuation-un);
    padding: 18px;
}

.burger-menu i{
    color: var(--blanc);
    font-size: 20px;
}

@media(max-width: 900px){
    /* nav{
        justify-content: space-between; // DEMANDER AVIS
    } */

    .burger-menu {
        display: block;
    }
    nav ul{
        display: none;
    }
}

#accueil{
    background-color: var(--couleur-accentuation-deux);
    width: 100%;
    height: max(50vw, 790px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#accueil img{
    width: max(40.625vw, 350px);
    height: max(40.625vw, 350px);
    object-fit: cover;
}

#apropos{
    background-color: var(--blanc);
    width: 100%;
    min-height: 595px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apropos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 90%;
}

.apropos-container img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.apropos-container h2{
    margin: 20px 0 20px 0;
    color: var(--couleur-titre);
    font-size: 26px;
    letter-spacing: .1em;
}

.apropos-container p{
    max-width: 560px;
    margin: 20px 0;
    text-align: center;
    color: var(--couleur-texte);
}

#services{
    padding: 50px 0 50px 0;
    width: 100%;
    min-height: 1249px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-container{
    width: 67%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.img-container{
    width: max(34.3140625vw, 500px);
    height: max(31.92708vw, 300px);
    position: relative;
    background-color: #eaeaea;
}

.img-container .img-1{
    width: max(20.70416vw, 60%);
    height: max(18.80208vw, 60%);
    position: absolute;
    top: 0;
    left: 10%;
    border: 1px solid black;
}

.img-container .img-2{
    width: max(19.8109375vw, 60%);
    height: max(24.0625vw, 75%);
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 55;
    transform: translateY(-50%);
    border: 1px solid black;
}


.img-design-container .img-3{
    width: max(24.3828125vw, 70%);
    height: max(16.1458vw, 50%);
    position: absolute;
    border: 1px solid black;
    bottom: 0;
    left: 0;
}

.txt-contain{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.txt-contain span{
    color: var(--couleur-titre);
    font-size: 18px;
}

.txt-contain h2{
    color: var(--couleur-titre);
    font-size: 48px;
    width: min-content;
    padding: 6px 0;
}

.txt-contain p{
    color: var(--couleur-texte);
    font-size: 15px;
    max-width: 485px;
}

@media(max-width: 1518px){
    .txt-contain{
        margin-top: 20px;
        align-items: center;
    }

    .txt-contain p{
        text-align: center;
    }
}

.txt-contain a{
    color: var(--couleur-texte);
    border: 2px solid var(--couleur-accentuation-un);
    padding: 19px 52px;
    margin-top: 25px;
}

#services hr{
    background-color: var(--couleur-texte);
    border: 0;
    height: 1px;
    width: max(44.2708vw, 300px);
    margin: max(6.09375vw, 30px) 0 max(6.09375vw, 30px) 0;
}

.services-enum{
    width: max(70vw, 400px);
    display: flex;
    flex-wrap: wrap;
}

.service{
    flex-grow: 1;
    flex-basis: 200;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
}

.service img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 0 10px;
}

.service h3{
    color: var(--couleur-titre);
    font-size: 20px;
    padding: 0 0 5px 0;
}

.service p{
    color: var(--couleur-texte);
    max-width: 284px;
    font-size: 15px;
}

.banner-container{
    background-color: var(--couleur-fond-sombre);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 321px;
    padding: 49px 0 49px 0;
}

.banner-container h2{
    font-size: max(1.875vw, 26px);
    color: var(--blanc);
    text-align: center;
    padding: 0 0 21px 0;
    width: 80%;
}

.banner-container p{
    font-size: max(0.8vw, 14px);
    color: var(--blanc);
    text-align: center;
    padding: 0 0 61px 0;
}

.banner-container a{
    font-size: max(1.25vw, 14px);
    color: var(--blanc);
    padding: 19px 22.08vw;
    border: 2px solid var(--couleur-accentuation-un);
}

#blog{
    width: max(75vw, 400px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}

#blog span{
    font-size: 18px;
    padding: 0 15px;
    color: var(--couleur-titre);
}

#blog .header-blog{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px 10px 10px;
}

#blog .header-blog h2{
    font-size: 48px;
    padding: 10px 0;
    color: var(--couleur-titre);
}

#blog .header-blog select{
    all: unset;
    color: var(--noir);
    padding-bottom: 5px;
    padding-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid var(--noir);
}

#blog .header-blog select option{
    background-color: var(--blanc);
}

#blog .gallery-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gallery-container .img{
    flex-grow: 1;
    flex-basis: 200;
    width: max(20.126041vw, 200px);
    height: max(17.8125vw, 200px);
    margin: 10px;
    background-color: #eaeaea;
}

#idontknow{
    background-color: var(--couleur-fond-sombre);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: max(10.41vw, 40px) 0 max(10.41vw, 40px) 0;
}

#idontknow img{
    width: max(9.9479vw, 100px);
    object-fit: cover;
    margin-bottom: max(1.8229vw, 15px);
}

#idontknow span{
    font-size: 18px;
    color: var(--blanc);
}

#idontknow h2{
    padding: 1.8229vw 0;
    font-size: max(6.25vw, 70px);
    color: var(--blanc);
}

#idontknow p{
    font-size: max(1.5625vw, 18px);
    color: var(--couleur-accentuation-un);
    margin-bottom: 49px;
}

#idontknow a{
    font-size: 14px;
    padding: max(0.98958vw, 10px) max(5.208vw, 50px);
    color: var(--blanc);
    border: 2px solid var(--blanc);
}

#idk{
    width: 100%;
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.idk-container{
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.img-container-1{
    display: flex;
    width: 642.69px;
    width: max(33.4734375vw, 400px);
    height: max(32.0791vw, 500px);
}

.img-container-1 div{
    flex-grow: 1;
    flex-basis: 200;
}

.img-container-1 .img-1{
    width: max(19.6005208vw, 200px);
    height: max(32.08vw, 500px);
    border: 1px solid black;
}

.test{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px 0;
}

.img-container-1 .test .img-2{
    height: max(13.0208vw);
    border: 1px solid black;
}

.img-container-1 .test .img-2, .img-3{
    width: max(13.136979vw, 150px);
    margin: 5px;
}

.img-container-1 .test .img-3{
    border: 1px solid black;
    height: max(16.92708vw, 100px);
}

.txt-content span{
    font-size: 18px;
    color: var(--couleur-titre);
}

.txt-content h2{
    font-size: 48px;
    color: var(--couleur-titre);
    padding: 13px 0;
    width: 100%;
}

.txt-content p{
    font-size: 15px;
    color: var(--couleur-texte);
    max-width: 460.07px;
    margin-bottom: 52px;
}

.txt-content a{
    font-size: 14px;
    color: var(--couleur-texte);
    padding: 19px 36px;
    border: 2px solid var(--couleur-accentuation-un);
}

/* @media(max-width: 1494px){
    .txt-content{
        margin-top: 50px;
        text-align: center;
    }
} */

#social{
    background-color: var(--couleur-fond-sombre);
    width: 100%;
    min-height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.social-container{
    width: 70%;
}

.social-container span{
    color: var(--blanc);
    font-size: 18px;
}

.social-container h2{
    color: var(--blanc);
    font-size: 48px;
    padding: 12px 0;
}

.social-container p{
    color: var(--blanc);
    font-size: 15px;
    width: 588px;
}

.reseaux-container{
    margin-top: 54px;
}

.reseaux-container h3{
    color: var(--couleur-accentuation-un);
    font-size: 30px;
}

.reseaux-container p{
    color: var(--blanc);
    font-size: 15px;
    margin: 16px 0 16px 0;
}

.img-container img{
    margin-right: 13px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #eaeaea;
}

#contact{
    min-height: 736px;
    display: flex;
    flex-wrap: wrap;
}

#contact article{
    flex-grow: 1;
    flex-basis: 200;
    text-align: center;
}

.left-contact-container{
    background-color: var(--couleur-accentuation-un);
    max-width: 960.5px;
    display: flex;
}

.left-contact-container img{
    width: 130px;
    margin-bottom: 20px;
}

.left-contact-container span{
    font-size: 15px;
    color: var(--blanc);
}

.left-contact-container h2{
    font-size: 48px;
    padding: 20px 0 20px 0;
    color: var(--blanc);
}

.left-contact-container p{
    font-size: 15px;
    color: var(--blanc);
    max-width: 750px;
    text-align: center;
}

.left-contact-container .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
}

.left-contact-container .img-container img{
    width: 30px;
    height: 30px;
}

.right-contact-container{
    background-color: var(--blanc);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0 20px 0;
    max-width: 960.5px;
}

.right-contact-container h2{
    font-size: 48px;
    color: var(--couleur-titre);
}

.right-contact-container p{
    font-size: 15px;
    color: var(--couleur-texte);
    max-width: 450px;
    min-width: 338.09px;
    text-align: center;
    padding: 23px 0 23px 0;
}


.right-contact-container form{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-contact-container form input, textarea{
    width: 100%;
    padding: 15px;
    outline: 0;
    border: 1px solid #dddddd;
    margin: 10px 0;
    background-color: #fafafa;
    font-size: 15px;
    color: #878787;
}

.right-contact-container textarea{
    resize: none;
}

form a{
    color: var(--couleur-texte);
    font-size: 14px;
    padding: 13px 54px;
    border: 2px solid var(--couleur-accentuation-un);
}