@use 'utilities/colors';
@use 'utilities/dflex';

.Home{
    width: 100%;
    height: 100vh;
    position: relative;
    @include dflex.fx-center;

    .Home_Wallpaper{
        height: 100vh;
        width: 100%;
        object-fit: cover;
        position: absolute;
    }

    .Home_Overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(63, 63, 63, .45);
    }

    .Home_Container{
        z-index: 1;
        text-align: center;
        @include dflex.fx-center;
        flex-direction: column;

        h1{
            color: colors.$white;
            font-size: max(2.5vw, 14px);
            font-weight: 700;
            letter-spacing: 5px;
        }

        span{
            color: colors.$middleGrey;
            font-size: max(3.5vw, 18px);
            font-weight: 700;
            letter-spacing: 6px;
        }

        p{
            margin-top: max(1.5vw, 10px);
            font-size: max(1vw, 8px);
            font-weight: 400;
            max-width: 750px;
            color: colors.$white;
        }
    }

    .Home_Formula{
        z-index: 1;
        background-color: colors.$white;
        position: absolute;
        top: 100%;
        transform: translateY(-50%);
        right: 0;
        width: 269px; /*269px*/
        height: 35px;
        @include dflex.fx-center-arround;

        div{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h3{
                font-size: 7px;
                color: colors.$h2h3Color;
            }

            span{
                font-size: 7px;
                color: colors.$h2h3Color;

                i{
                    font-size: 5px;
                }
            }
        }
    }
}